
/* 
    Created on : Mar 19, 2018, 8:37:26 AM
    Author     : David Mutua  mutuadavi@gmail.com
*/

@import url('https://fonts.googleapis.com/css?family=Lato');
@import url('blue_navstyles.css');

body, p, h5 {
    -webkit-text-size-adjust: none;
    color: #455a64;
    font-family: "Lato",Arial,sans-serif;
    font-size: 16px;
    line-height: 22px;
}

/* Remove Space Before Home Link on Nav */
.navbar-collapse {
    padding-left: 0;
}

.nav a{
    font-size: 1.0em !important;
    }
.nav li{
    padding-right:1px;
}

/* Version two SearchBox Styles */
/*SEARCH FORM*/
.search-form {
    border-radius: 30px 0px 0px 30px;
    /*border-radius:Top-left, Top-right, Bottom-right, Bottom-left;*/
}
/*to cange only one form and not all give unique class name like  class="search-form" */
 .search-btn {
    border-radius: 0px 30px 30px 0px;
    cursor:pointer;
}

.search-btn.btn-primary {
    background: #E50A0D;
}

